.users-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.loader-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}